$imgurl:"../img/";
$imgurl2:"../img/sub/";
$color-primary:#32D679;

$txt-c:center;
$txt-l:left;
$txt-r:right;
$fl:left;
$fr:right;
$m0a:0 auto;


$breakpoint-mobile-f:280px;
$breakpoint-mobile:320px;
$breakpoint-tablet:691px;
$breakpoint-tablet2:900px;
$breakpoint-desktop:1400px;
